/node_modules
/vendor
/.idea
/.vscode
.env
.env.backup
.env.production
/bootstrap/cache/config.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/public/storage
/storage/*.key
/storage/pail
/auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache